{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h2>Here are your friends.</h2>
      <br>
    
      <h4>Amount they owe:</h4>
      {% for key,value in owed_dict.items %}<p><a href="{% url 'dappx:view_friend' pk=key.pk %}">{{ key }}</a> owes {{ value }} to you.</p>{% endfor %}
      <h4>Amount I owe</h4>
      {% for key,value in owe_dict.items %}<p>You owe {{ value }} to <a href="{% url 'dappx:view_friend' pk=key.pk %}">{{ key }}</a>.</p>{% endfor %}
      {% for no_friend in nothing_friend_list %}
        <p><a href="{% url 'dappx:view_friend' pk=no_friend.pk %}">{{ no_friend }}</a> - 0 </p>
      {% endfor %}
      {% if no_exists %}
      <p>User doesn't exist Try again!</p>
      {% endif %}
      {% if user_given_in_list %}
      <p>You can't friend yourself. Try again</>
      {% endif %}
      {% if empty %}
      <h2>Name field is empty.Try again</h2>
      {% endif %}
      <form method="post" action="{% url 'dappx:addfriends' %}">
          {% csrf_token %}
          <label for="Friendsl">Friends:</label>
          <input type="text" name="Friendsl" placeholder="Friends">
          <br>
          <input type="submit" name="" value="Add">
        </form>
    </div>
  </div>
{% endblock %}

