{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Here are your friends.</h1>
      <br>
    
      <h1>Amount they owe</h1>
      {% for key,value in owed_dict.items %}<h2><a href="{% url 'dappx:view_friend' pk=key.pk %}">{{ key }}</a> - {{ value }}</h2>{% endfor %}
      <h1>Amount I owe</h1>
      {% for key,value in owe_dict.items %}<h2><a href="{% url 'dappx:view_friend' pk=key.pk %}">{{ key }}</a> - {{ value }}</h2>{% endfor %}
      {% for no_friend in nothing_friend_list %}
        <h2><a href="{% url 'dappx:view_friend' pk=no_friend.pk %}">{{ no_friend }}</a> - 0 </h2>
      {% endfor %}
      {% if no_exists %}
      <h2>User doesn't exist Try again!</h2>
      {% endif %}
      {% if user_given_in_list %}
      <h2>You have given your name YOU FOOOOOOOL!!!!</h2>
      {% endif %}
      {% if empty %}
      <h2>Give some name</h2>
      {% endif %}
      <form method="post" action="{% url 'dappx:addfriends' %}">
          {% csrf_token %}
          <label for="Friendsl">Friends:</label>
          <input type="text" name="Friendsl" placeholder="Friends">
          <br>
          <input type="submit" name="" value="Add">
        </form>
    </div>
  </div>
{% endblock %}

