{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Here are your friends.</h1>
      {% for friend in friends %}
      	<a href="{% url 'dappx:view_friend' pk=friend.pk %}">
      		<h2>{{ friend.username }}</h2>
          <!-- <h2>{{ friend.pk }}</h2> -->
      	</a>
      {% endfor %}
      <br>
      <form method="post" action="{% url 'dappx:addfriends' %}">
          {% csrf_token %}<!-- 
          {{ addfriend_form.as_p }} -->
          <label for="Friendsl">Friends:</label>
          <input type="text" name="Friendsl" placeholder="Friends">
          <br>
          <input type="submit" name="" value="Add">
        </form>
    </div>
  </div>
{% endblock %}

