{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
<div class="container">
    <div class="jumbotron">
    	<h1>send message here</h1>
     <form method="post" action="{% url 'dappx:send_notification' pk=friend.pk %}">
          {% csrf_token %}
          {% if no_message %}
          <h3>Message type cheyybey</h3>
          {% endif %}
          <label for="Message">Message:</label>
          <input type="text" name="Message" placeholder="Message">
          <br>
          <input type="submit" name="" value="Send">
        </form>
    	</div>
    </div>
{% endblock %}