{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>add a transaction here</h1>
      <form method="post" action="{% url 'dappx:Transactions' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          {% if null_group %}
          <h3>One or more field(s) is empty. Check and try again.</h3>
          {% endif %}
          <label for="Group">Group Name:</label>
          <input type="text" name="Group" placeholder="Group">
          <br>
          <!-- <label for="Donor">Donor:</label>
          <input type="text" name="Donor" placeholder="Donor">
          <br> -->
          
          {% if user_given_in_list %}
          <h2>You have given your name YOU FOOOOOOOL!!!!</h2>
          {% endif %}
          {% if DupReceivers %}
          <h3>there's a repition </h3>
          {% endif %}
          {% if NoReceivers %}
          <h3>User doesn't exist</h3>
          {% endif %}
          {% if not_total %}
          <h3>The Group Members are different from Receivers u gave</h3>
          <h3>The Group Members are:</h3>
          {% for member in gp_Members %}
          {% ifnotequal member user %}
          <h4>{{ member }}</h4>
          {% endifnotequal %}
          {% endfor %}
          {% endif %}
          {% if Tag_not_approved %}
          <h4> **Tag is not approved</h4>
          {% endif %}
          <!-- <label for="Receiver">Receiver:</label>
          <input type="text" name="Receiver" placeholder="Receiver">
          <br> -->
          <label for="Amount">Amount:</label>
          <input type="number" step="0.01" name="Amount" placeholder="Amount">
          <br>
          <label for="Description">Description:</label>
          <input type="text" name="Description" placeholder="Description">
          <br>
          <h4> Choose one from Movies,Food,Housing,Travel,Others(case sensitive)</h4>
          <label for="Tag">Tag:</label>
          <input type="" name="Tag">
          <input type="submit" name="" value="Transactions">
          
      	  </form>
      	 <!--  <h2>FORM 2:</h2>
      	  <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:Transactions' %}">
          {% csrf_token %}
          {{ user_form }}
          <h3>boo</h3>
          <h3>{{false}}</h3>
          <input type="submit" name="" value="Transactions">
        </form> -->

    </div>
  </div>
{% endblock %}

