{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>add a transaction here</h1>
      <form method="post" action="{% url 'dappx:Transactions_unequal_extended' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          {% if null_group %}
          <h3>Group Name field is empty. Check and try again.</h3>
          {% endif %}
          <label for="Group">Group Name:</label>
          <input type="text" name="Group" placeholder="Group">
          <br>
          <input type="submit" name="" value="Proceed">
          
      	  </form>
      	 <!--  <h2>FORM 2:</h2>
      	  <form enctype="multipart/form-data" method="POST" action="{% url 'dappx:Transactions' %}">
          {% csrf_token %}
          {{ user_form }}
          <h3>boo</h3>
          <h3>{{false}}</h3>
          <input type="submit" name="" value="Transactions">
        </form> -->

    </div>
  </div>
{% endblock %}

