{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% load mathfilters %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Here are your common groups with {{ friend.username }}</h1>
      <a href="{% url 'dappx:settle_up' pk=friend.pk %}">
        <button>Settle Up</button>
      </a>
      <a href="{% url 'dappx:send_notification' pk=friend.pk %}">
        <button>Send Notification</button>
      </a>
      <h2>Group name - Amount he owes</h2>
      {% for key,value in transactions.items %}
      	{% if value >= 0%}
        <a href="{% url 'dappx:view_group' operation=key %}">
      		<h2 >{{ key }} - {{ value }}</h2>
      	</a>
        {% endif %}
      {% endfor %}
      <br>
      <h2>Group name - Amount I owe </h2>
      
      {% for key,value in transactions.items %}
        {% if value < 0 %}
        <a href="{% url 'dappx:view_group' operation=key %}">
          <h2 >{{ key }} - {{ value|abs }}</h2>
          <!-- <p>{% widthratio -1 1 value %}</p> -->
        </a>
        {% endif %}
      {% endfor %}
      <br>
    </div>
  </div>
{% endblock %}

