{% extends "dappx/usermain.html" %}
{% load staticfiles %}{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Here are your common groups with {{ friend.username }}</h1>
      <a href="{% url 'dappx:settle_up' pk=friend.pk %}">
        <button>Settle Up</button>
      </a>
      <h2>Group name - Amount he owes</h2>
      {% for transaction in transactions %}
      	{% if transaction.Amount %}
        <a href="">
      		<h2 >{{ transaction.Group }} - {{ transaction.Amount }}</h2>
      	</a>
        {% endif %}
      {% endfor %}
      <br>
      <h2>Group name - Amount I owe </h2>
      
      {% for transaction in transactions1 %}
        {% if transaction.Amount %}
        <a href="">
          <h2 >{{ transaction.Group }} - {{ transaction.Amount }}</h2>
        </a>
        {% endif %}
      {% endfor %}
      <br>
    </div>
  </div>
{% endblock %}

